<mat-card class="tour-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="tour-header-image"></div>
    <mat-card-title>{{tour.name}}</mat-card-title>
    <mat-card-subtitle>{{tour.price}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{tour.imageUrl}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
     {{tour.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>