/* .tour-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 24px;
}

@media (max-width: 600px) {
    .tour-grid {
        grid-template-columns: 1fr;
        padding: 16px;
        gap: 16px;
    }
} */