<div class="flex p-6 space-x-6">
  <aside class="w-64 space-y-6">
    <h2 class="text-xl font-semibold">Filtra i tour</h2>
    <mat-form-field>
      <mat-label>Cerca Tour</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [formControl]="searchControl" />
    </mat-form-field>
  </aside>

  <main class="flex-1">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 p-6"
    >
      @for (tour of tours$ | async; track tour) {
      <app-tour-card [tour]="tour"></app-tour-card>
      }
    </div>
  </main>
</div>
