<mat-toolbar color="primary" class="navbar">
  <h4 class="app-title">TourOp.com</h4>  
 <!-- <img [src]="'../../../assets/tourop-logo.png'" width="40px" alt="Logo" class="logo" /> -->
  <span class="spacer"></span>
  <button mat-button routerLink="home">Home</button>
  <button mat-icon-button routerLink="profile">
    @if(pictureSignal() ){
    <img [src]="pictureSignal()" alt="Profile" class="profile-picture" />
    } @else{
    <mat-icon>person</mat-icon>
    }
  </button>

  @if(authSignal()){
  <button
    mat-stroked-button
    (click)="
      auth.logout({ logoutParams: { returnTo: document.location.origin } })
    "
  >
    LogOut
  </button>
  } @else{
  <button mat-stroked-button (click)="auth.loginWithPopup()">LogIn</button>
  }
</mat-toolbar>
